*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --input-border: #8b8a8b;
  --input-focus-h: 245;
  --input-focus-s: 100%;
  --input-focus-l: 42%;
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

.background-register {
  background-image: url('../../assets/banner.jpg');
  background-size: cover;
  height: 100vh;
}

.container-register-form {
  background-color: #082547;
  color: white;
  padding: 10px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 10px;
  margin: 10px;
}

.container-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.label-brand {
  margin-right: 10px;
}

.label-year {
  margin-left: 10px;
}

select {
  color: black;
  transition: 180ms box-shadow ease-in-out;
  margin-left: 10px;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
} .select:after {
  grid-area: select;
}

.select {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: max(16px, 1rem);
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  justify-self: end;
}

select::-ms-expand {
  display: none;
}

.select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

.input[readonly] {
  border-style: dotted;
  cursor: not-allowed;
  color: #777;
}

.input[disabled] {
  --input-border: #ccc;

  background-color: #eee;
  cursor: not-allowed;
}

.input {
  transition: 180ms box-shadow ease-in-out;
  margin-left: 10px;
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 4px;
}

.input:not(textarea) {
  line-height: 1;
  height: 2.25rem;
}

.input:focus {
  outline: 3px solid transparent;
  border-color: hsl(var(--input-focus-h), var(--input-focus-s), var(--input-focus-l));
  box-shadow: 0 0 0 3px hsla(var(--input-focus-h), var(--input-focus-s), calc(var(--input-focus-l) +
  40%), 0.8);
}

.save {
  height: 30px;
  font-size: 16px;
  margin: 8px;
}

@media (max-width: 750px) {
  .container-register-form {
    display: flex;
    align-items: flex-start;
  }

  .input {
    margin: 5px;
  }

  .background {
    height: 87vh;
  }
}