.background-search {
  background-image: url('../../assets/road.jpg');
  background-size: cover;
  padding: 30px;
  height: 100vh;
}

.container-search-form {
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 10px;
  margin: 5px;
}

.btn-search {
  margin: 15px;
  height: 25px;
  font-size: 12px;
  margin-bottom: 40px;
}

.btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__label {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}

.form__input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
	margin: 0 auto;
  padding: 0.2rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width:40%;
  display: block;
  border-bottom: 0.3rem solid transparent;
}


table {
	width: 100%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

thead {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
  width: inherit;
}

th {
	text-align: left;
  background-color: #55608f;
}

tr {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

td :hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255,255,255,0.2);
  z-index: -1;
}

tr :hover {
  background-color: rgba(255,255,255,0.3);
}

tbody {
  background-color: #082547;
  flex-direction: column;
  display: flex;
  align-content: space-betweens;
  justify-content: space-between;
}